.information-modal .modal-header {
    color: #bbb;
}

.information-modal .modal-body {
    background: #ECF2F0;
}

.information-modal .modal-content h2 {
    margin: 0;
    font-size: 2rem;
}

.information-modal .modal-content h3 {
    margin: 0;
    font-size: 1.5rem;
}