/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    font-size: 25px;
}

a {
    color: #f05f40;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1, .h1 {
    font-size: 5rem;
    font-family: 'Alex Brush', sans-serif;
}

h2, .h2 {
    font-size: 3rem;
    font-family: 'Alex Brush', sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: 'Alex Brush', sans-serif;
}

p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
}

section {
    padding: 100px 0;
}

.no-padding {
    padding: 0;
}

.bg-color {
    background-color: #ECF2F0;
}

.navbar {
    border-radius: 0;
    transition: all 0.3s ease-out;
    background-color: transparent;
}

.navbar .nav-item .nav-link,
.navbar .navbar-brand {
    color: #fff;
}

.navbar-after .nav-link:after {
    content: '•';
    padding-left: 1rem;
    color: #fff;
}

.navbar-before .nav-link:before {
    content: '•';
    padding-right: 1rem;
    color: #fff;
}

@media(min-width:768px) {

    .language-list {
        font-size: 0.6rem;
        padding-right: 3rem;
    }
}

.language-list {
    font-size: 0.9rem;
    padding-right: 0.1rem;
}

.language-list .nav-item .nav-link, .affix .language-list .nav-item .nav-link {
    color: #f05f40;
    padding: 0 0.2rem;
}

.navbar-before .language-list .nav-link:before, .affix .navbar-before .language-list .nav-link:before {
    content: '';
    padding-right: 0;
}

.navbar-brand {

    font-family: "freight-sans-pro";
    font-size: 1.8rem;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.2em;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    /*background-color: #fff;*/
    transition: all .35s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #f05f40;
}

.navbar-dark .navbar-toggler {
    color: black;
}

.navbar-default .navbar-toggler {
    background-color: #00000033;
}

.affix {
    display: none;
}

.affix.navbar .nav-item>a,
.affix.navbar .navbar-brand,
.affix .navbar-after .nav-link:after,
.affix .navbar-before .nav-link:before{
    color: #bbb;
}

@media(min-width:992px) {
    .affix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar {
        display: flex;
    }
}

header {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
        padding-bottom: 0;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
}

@media(min-width:992px) {
    header {
        background-image: url(../img/header-wide.jpg);
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.text-primary {
    color: #f05f40;
}

body {
    webkit-tap-highlight-color: #222;
}

#map {
    height: 200px;
    overflow: visible;
    position: relative;
}

@media(min-width:768px) {
    #map {
        height: 300px;
    }
}

@media(min-width:992px) {
    #map {
        height: 500px;
    }
}

.header-wrap-top {
    display: none;
    margin-bottom: 30px;
}
.header-wrap-bottom {
    display: none;
    margin-top: 30px;
}

.partner-names {
    font-family: 'Alex Brush', sans-serif;
    font-size:3.5rem;
    font-weight:400;
}

@media (min-width: 992px) {
    .partner-names {
        font-size:6.5rem;
    }
    .header-wrap-top {
        display: inline;
        margin-bottom: 30px;
    }
    .header-wrap-bottom {
        display: inline;
        margin-top: 30px;
    }
}

.pretext {
    font-family: "Playfair Display";
    font-size: 26px;
    font-weight: 400;
    font-style: italic;
}

footer {
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,.4);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #505050;
}

@media (min-width: 1100px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem);
    }
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem);
    }
    .modal-sm {
        max-width: 300px;
    }
}

.modal-content
.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

.modal-content p,
.modal-content li{
    font-size: 0.8rem;
}

.modal-content img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#eventsAccordion.line:before {
    border-left: 1px dashed #d2d2d2;
    bottom: 40px;
    content: "";
    left: 19px;
    position: absolute;
    top: 15px;
    width: 1px;
    z-index: 1;
}

.panel-group {
    position: relative;
}

#eventsAccordion.panel-group.line div.panel.panel-default.active a.panel-link div.panel-number {
    background-color: #93bbb4;
    border-style: none;
    color: #ffffff;
    font-weight: 500;
    margin-right: 1rem;
    transition: all 1s ease 0s;
}

.panel-number {
    color: inherit;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    display: inline-block;
    font-size: 1rem;
    height: 42px;
    line-height: 38px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    transition: all 1s ease 0s;
    width: 42px;
    z-index: 2;
}

#eventsAccordion.panel-group.line div.panel.panel-default.active .panel-title {
    color: #F05F40;
}

.panel-link:hover {
    color: #F05F40;
    text-decoration: none;
    transition: all ease 0.5s;
}

.panel-link {
    color: #000000;
    transition: all ease 0.5s;
}

.panel-title {
    color: inherit;
    display: inline-block;
    font-weight: 400;
    margin: 10px 0;
}
.panel-body {
    padding: 10px 15px 15px 60px;
}


.pl-70 {
    padding-left: 70px;
}

header .mask {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: auto;
}

header .mask img{
    width: 100%;
    height: auto;
}

.event-date, .event-link, .event-link > p {
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 0px;
}

.info-icon {
    color: #93bbb4;
}

.coordinator-icon {
    color: #93bbb4;
}

.info-link:hover {
    text-decoration: none;
}

.info-link:hover .text-muted{
    text-decoration-color: #f05f40!important;
    text-decoration: underline;
}

.info-title {
    text-decoration: none!important;
}

.rsvp-card {
    background: transparent;
    border-width: 0px;
}

.btn-primary {
    background-color: transparent;
    color: #6c757d;
    border-color: #93bbb4;
}

.btn-primary:hover {
    background-color: #93bbb4;
    border-color: #93bbb4;
    box-shadow: 0 0 0 0.2rem rgba(147, 187, 180, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #f05f40;
    border-color: #93bbb4;
    /*box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);*/
    box-shadow: 0 0 0 0.2rem rgba(147, 187, 180, 0.5);
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #f05f40;
    border-color: #93bbb4;
    /*box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);*/
    box-shadow: 0 0 0 0.2rem rgba(147, 187, 180, 0.5);
    /*rgba(147, 187, 180, 1)*/

}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(147, 187, 180, 0.5);
}

form {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
}