{{ "<!-- COORDINATORS -->" | safeHTML }}
<section id="coordinators">
	<div class="container h-100">
		<div class="row">
			<div class="col text-center">
				{{ with .Site.Params.coordinators.headline }}
				<h2 class="section-heading">{{ . | markdownify }}</h2>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				{{ with .Site.Params.coordinators.description }}
				<p class="text-muted">{{ . | markdownify }}</p>
				{{ end }}
			</div>
		</div>
		<div class="row h-100">
			{{ $data := index .Site.Data.coordinators .Site.Language.Lang }}
			{{ if $data}}
			{{ else }}
			{{ $data = .Site.Data.coordinators}}
			{{ end}}
			{{ range $data }}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x {{ .icon }} wow bounceIn coordinator-icon"></i>
					{{ with .image }}
					<img width="240" height="240" src="{{ . }}" sizes="(max-width: 240px) 100vw, 240px" style="border-radius: 120px;">
					{{ end }}
					<h3  class="info-title">{{ .name }}</h3>
					<h4>{{ .function }}</h4>
					{{ with .description }}
					<p class="text-muted">{{ . }}</p>
					{{ end }}
					<div >
						<a href="mailto:{{ .email }}"><p class="text-muted">{{ .email }}</p></a>
						<a href="tel:{{ .phone }}"><p class="text-muted">{{ .phone }}</p></a>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>