<div>
	<p>{{ i18n "footer_phrase" }}<br/>{{ .Site.Params.people.partner1 | markdownify }} & {{ .Site.Params.people.partner2 | markdownify }}</p>
	<p class="mb-0" style="font-size: 0.6rem;">{{ i18n "made_with" }}<a href="https://gitlab.com/niklaj/hugo-wedding-theme">Hugo wedding theme</a></p>
</div>