{{ "<!-- HEADER -->" | safeHTML }}
<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
<header>
    <div class="header-content">
        <img class="header-wrap-top" src="{{ "img/line_top.png" | absURL }}">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.pretext }}
                <div class="pretext">{{ . | markdownify  }}</div>
            {{ end }}
            <div class="partner-names">{{ .Site.Params.people.partner1 | markdownify }} & {{ .Site.Params.people.partner2 | markdownify }}</div>
        </div>
        <img class="header-wrap-bottom" src="{{ "img/line_bottom.png" | absURL }}">
    </div>
    <div class="mask">
        <img src="{{ "img/mask.png" | absURL }}" alt="">
    </div>
</header>
