{{ "<!-- INFORMATION -->" | safeHTML }}
<section id="information">
    <div class="container h-100">
        <div class="row">
            <div class="col text-center">
                {{ with .Site.Params.information.headline }}
                <h2 class="section-heading">{{ . | markdownify }}</h2>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{ with .Site.Params.information.description }}
                    <p class="text-muted">{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
        <div class="row h-100">
            {{ range where .Site.RegularPages "Section" "information" }}
            <div class="col-lg-4 col-md-6 text-center">
                <a href="#informationModal{{ .Weight }}" class="info-box info-link" data-toggle="modal">
                    <div class="service-box">
                        <i class="fa fa-4x {{ .Params.icon }} wow bounceIn info-icon"></i>
                        <h3 class="info-title">{{ .Title }}</h3>
                        <p class="text-muted">{{ .Description }}</p>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>