{{ "<!-- Info Modals -->" | safeHTML }}
{{ range where .Site.RegularPages "Section" "information" }}
<div class="information-modal modal fade" id="informationModal{{ .Weight }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ with .Title }}
            <div class="modal-header">
                <h2 class="modal-title">{{ . }}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ end }}
            <div class="modal-body">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}
