{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-dark navbar-expand-lg fixed-top bg-faded" data-toggle="affix">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-lg-0 navbar-after align-self-start">
        <ul class="navbar-nav ml-auto text-center">
            {{ if and .Site.Params.where.events .Site.Params.navigation.links.events }}
            <li class="nav-item">
                <a class="nav-link" href="#events">{{ .Site.Params.navigation.links.events }}</a>
            </li>
            {{ end }}
            {{ if and .Site.Params.information .Site.Params.navigation.links.info }}
            <li class="nav-item">
                <a class="nav-link" href="#information">{{ .Site.Params.navigation.links.info }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="navbar-collapse collapse mx-auto my-2 order-0 order-lg-1 position-relative align-self-start">
        <div id="brand" class="navbar-nav">
            <a class="navbar-brand mx-auto" href="#">
                <span>{{ .Site.Params.people.partner1 | markdownify }} & {{ .Site.Params.people.partner2 | markdownify }}</span>
            </a>
        </div>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarLanguageLinksContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse w-100 dual-collapse2 order-2 order-lg-2 navbar-before align-self-start">
        <ul class="navbar-collapse collapse navbar-nav mr-auto text-center">
            {{ if and .Site.Params.coordinators .Site.Params.navigation.links.coordinators }}
            <li class="nav-item">
                <a class="nav-link" href="#coordinators">{{ .Site.Params.navigation.links.coordinators }}</a>
            </li>
            {{ end }}
            {{ if and .Site.Params.rsvp .Site.Params.navigation.links.rsvp }}
            <li class="nav-item">
                <a class="nav-link" href="#rsvp">{{ .Site.Params.navigation.links.rsvp }}</a>
            </li>
            {{ end }}
        </ul>
        <div class="navbar-collapse collapse form-inline order-3 order-md-3 my-2 my-lg-0 align-self-start align-content-end" id="navbarLanguageLinksContent">
            <ul class="navbar-nav ml-auto text-center language-list">
                {{ range $.Site.Home.AllTranslations }}
                <li class="nav-item"><a class="nav-link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>

</nav>