<!-- https://script.google.com/macros/s/AKfycbw7Cri5rKzcpJ2cf315mefi7CGv_GkdmGUfQXx7A9R0zMt4aAYZ/exec?SOME_FIELD=TheOtherOne -->
<section id="rsvp">
	<div class="container h-100">
		<div class="row">
			<div class="col text-center">
				{{ with .Site.Params.rsvp.headline }}
				<h2 class="section-heading">{{ . | markdownify }}</h2>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				{{ with .Site.Params.rsvp.description }}
				<p class="text-muted">{{ . | markdownify }}</p>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="accordion" id="accordionExample">
					<div class="rsvp-card card">
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								<form id="rsvp-form">
									<div class="form-group">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="willAttent" id="willAttent1" value="true">
											<label class="form-check-label text-muted" for="willAttent1">{{ i18n "rsvp_yes" }}</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="willAttent" id="willAttent2" value="false">
											<label class="form-check-label text-muted" for="willAttent2">{{ i18n "rsvp_no" }}</label>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-lg-5">
											<div class="form-group">
												<label class="text-muted" for="fullName">{{ i18n "rsvp_name" }}</label>
												<input type="text" class="form-control" id="fullName" name="fullName" placeholder="{{ i18n "rsvp_enter_name" }}">
											</div>
										</div>
										<div class="form-group col-lg-4">
											<div class="form-group">
												<label class="text-muted" for="email">{{ i18n "rsvp_email" }}</label>
												<input type="email" class="form-control" id="email" name="email" placeholder="{{ i18n "rsvp_enter_email" }}">
											</div>
										</div>
										<div class="form-group col-lg-3">
											<label class="text-muted" for="numberOfGuests">{{ i18n "rsvp_number" }}</label>
											<select class="form-control" id="numberOfGuests" name="numberOfGuests">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="text-muted" for="Message">{{ i18n "rsvp_message" }}</label>
										<textarea class="form-control" id="message" name="message" rows="3"></textarea>
									</div>
									<div id="wrap-submit">
										<button type="submit" class="btn btn-primary" id="rsvpSubmit">{{ i18n "rsvp_submit" }}</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="rsvp-card card">
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								<span id="rsvpResponse">{{ i18n "rsvp_sending" }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
    var $form = $('form#rsvp-form'),
        url = '{{ .Site.Params.sheet_url | safeJS}}'

    $('#rsvpSubmit').on('click', function(event) {
        event.preventDefault();
        $('#collapseTwo').collapse('show');
        /*var object = {};
        var formData = new FormData($form[0]);
        formData.forEach((value, key) => object[key] = value);
        var json = JSON.stringify(object);*/
        var jqxhr = $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            data: $form.serializeObject(),
			success: function(data) {
                $('#rsvpResponse').text('{{ i18n "rsvp_submitted" }}')
			}
        });
    });

	function submitRsvp(event) {
        $('#collapseTwo').collapse('show');
	}
</script>