{{ "<!-- WHEN -->" | safeHTML }}
<section id="when">
    <div class="container h-100">
        {{ with .Site.Params.when.description }}
        <div class="row">
            <div class="col text-center">
                <p class="text-muted">{{ . | markdownify }}</p>
            </div>
        </div>
        {{ end }}
        {{ with .Site.Params.when.dateDescription }}
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">{{ . | markdownify }}</h2>
            </div>
        </div>
        {{ end }}
        {{ with .Site.Params.date }}
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">{{ dateFormat "January 2nd, 2006" . }}</h2>
            </div>
        </div>
        {{ end }}
        {{ with .Site.Params.when.location }}
        <div class="row">
            <div class="col text-center">
                <p class="text-muted">{{ . | markdownify }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>
