{{ "<!-- LOCATION -->" | safeHTML }}
{{ $events := index .Site.Data.events .Site.Language.Lang }}
{{ if $events}}
{{ else }}
{{ $events = .Site.Data.events}}
{{ end}}
{{ if .Site.Params.where.events}}
<section id="events">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-8 order-2 margin-sm-b-2 d-flex justify-content-center">
                <div class="panel-group line w-100" id="eventsAccordion" class="accordion" role="tablist" aria-multiselectable="false">
                    {{ range sort $events "index" "asc"}}
                    {{$expanded := eq .index 1}}
                    <div class="panel panel-default {{ if $expanded }}active{{ end }}">
                        <a id="event_{{ .index }}" class="panel-link {{ if ne .index 1 }}collapsed{{ end }}" data-toggle="collapse" data-parent="#eventsAccordion" href="#collapse_{{ .index }}" aria-expanded="{{$expanded}}" aria-controls="collapse_{{ .index }}">
                            <div class="panel-heading" id="heading{{ .index }}">
                                <div class="panel-number">{{ .index }}</div>
                                <h3 class="panel-title">{{ .name}}</h3>
                            </div>
                        </a>
                        <div id="collapse_{{ .index }}" class="panel-collapse collapse {{ if $expanded }}show{{ end }}" role="tabpanel" aria-labelledby="heading{{ .index }}"  data-parent="#eventsAccordion">
                            <div class="panel-body">
                                <p class="event-date text-muted">
                                    {{ with .date }}
                                    {{ dateFormat $.Site.Params.timeFormat . }}
                                    {{ end }}
                                    {{ with .time }}
                                    {{  . }}
                                    {{ end }}
                                </p>
                                <p class="text-muted">{{ .description}}</p>
                                {{ if .address }}
                                {{ $defaultUrl := .longitude | printf "https://www.google.dk/maps/place/%f,%f" .latitude }}
                                <a class="event-link popup-gmaps" href="{{ default $defaultUrl .mapLink }}">
                                    <p class="text-muted"><i class="far fa-map"></i> {{ .address }}</p>
                                </a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ with .Site.Params.where }}
{{ if .maps_api_key }}
<section id="location" class="bg-color no-padding">
    <div class="h-100 .container-fluid">
        <div id="map" class="map"></div>
        <script type="text/javascript">
            var map;


            function initMap() {
                map = new google.maps.Map(
                    document.getElementById('map'),
                    {
                        center: new google.maps.LatLng({{ .latitude }}, {{ .longitude }}),
                        zoom: {{ .zoom | safeJS}},
                        disableDefaultUI: true,
                        draggable: false,
                        scrollwheel: false,
                        disableDoubleClickZoom: true,
                        styles: getMapsStyle()
                    }
                );
                var bounds = new google.maps.LatLngBounds();
                loadEventMarkers(map, bounds);
                loadLocations(map, bounds);
                map.fitBounds(bounds);
            }

            function loadEventMarkers(map, bounds) {
                {{ if $.Site.Params.where.events}}
                let markers = [];
                let animations = [];


                {{ range sort $events "index" "asc"}}

                {{ if .latitude}}
                markers.push(createMarker(map, bounds, {{ .latitude }}, {{ .longitude}}, {url: {{ .pin | absURL }}, scaledSize: new google.maps.Size(60, 87)}, {{ .mapLink }}, {{ .index }}));
                animations.push({{ .index | safeJS}}-1);
                {{ else }}
                markers.push(createMarker(map, bounds, {{ .latitude }}, {{ .longitude}}, {url: {{ .pin | absURL }}, scaledSize: new google.maps.Size(60, 87)}, {{ .mapLink }}, {{ .index }}));
                animations.push({{ .pinRef | safeJS}}-1);
                {{ end }}
                {{ end }}
                console.log(markers);
                console.log(animations);
                animations.forEach(function(eventIndex, index) {
                    if(eventIndex != null) {
                        $(document).on("mouseenter mouseleave", "#event_" + (index+1), function (e) {
                            if (e.type == "mouseenter") {
                                markers[eventIndex].setAnimation(google.maps.Animation.BOUNCE);
                            } else {
                                markers[eventIndex].setAnimation(null);
                            }
                        });
                    }
                })
                {{ end }}
            }

            function createMarker(map, bounds, lat, lng, icon, link, index) {
                if(lat != null) {
                    let marker = new google.maps.Marker({
                        position: new google.maps.LatLng(lat, lng),
                        icon: icon,
                        map: map
                    });
                    bounds.extend(marker.getPosition());
                    if(link != null) {
                        marker.addListener('click', function () {
                            window.open(link, '_blank');
                        })
                    }
                    return marker;
                } else {
                    return null;
                }
            }

            function loadLocations(map, bounds) {
                {{ range $.Site.Data.locations }}
                {{ if ne .noMarker true}}
                new google.maps.Marker({
                    position: new google.maps.LatLng({{ .latitude }}, {{ .longitude}}),
                    {{ if .pin}}
                    icon: {url: {{ .pin | absURL }}, scaledSize: new google.maps.Size(60, 87)},
                    {{ end }}
                    map: map
                })
                {{ end }}
                bounds.extend(new google.maps.LatLng({{ .latitude }}, {{ .longitude}}));
                {{ end }}
            }

            function mapsApiLoaded() {
                initMap();
                google.maps.event.addDomListener(window, 'load', initMap);
                google.maps.event.addDomListener(window, 'resize', initMap);
                window.onpopstate = initMap();
            }

            function getMapsStyle() {
                return [
                    {
                        "featureType": "all",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "saturation": -100
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "saturation": 35
                            },
                            {
                                "lightness": 40
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 15
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#333333"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#93bbb4"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#93bbb4"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#93bbb4"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#7f8d89"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#93bbb4"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#2b3638"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#2b3638"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ecf2f0"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#24282b"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ]
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ .maps_api_key }}&callback=mapsApiLoaded">
        </script>
    </div>
</section>
{{ end }}
{{ end }}