<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "js.html" . }}
        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}
        {{ if or .Site.Params.navigation.links.events .Site.Params.navigation.links.info .Site.Params.navigation.links.coordinators .Site.Params.navigation.links.rsvp }}
            {{ partial "nav.html" . }}
        {{ end }}
        <main>
        {{ if .Site.Params.when }}
            {{ partial "when.html" . }}
        {{ end }}
        {{ if .Site.Params.where }}
            {{ partial "where.html" . }}
        {{ end }}
        {{ if .Site.Params.information }}
            {{ partial "information.html" . }}
        {{ end }}
        {{ if .Site.Params.coordinators }}
        {{ partial "coordinators.html" . }}
        {{ end }}

        {{ if where .Site.RegularPages "Section" "information" }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ if .Site.Params.rsvp }}
        {{ partial "rsvp.html" . }}
        {{ end }}

        {{ template "_internal/google_analytics.html" . }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </body>

</html>
